.login-root{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
 
}
.login-header{
    font-family: "Gill Sans", sans-serif;
    size: 60px;
    font-size: 50px;
}
form{
    
    display: flex;
    align-items: center;
    width: 800px; 
    height: 500px;
    
  
    
}
.login-left{
    display: flex;
    flex-direction: column;
    margin-right: 20px;

}
.login-input{
    width: 250px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 40px;

}
.login-right{
    display: flex;
  flex-direction: column;

}
.login-img{
    width: 200px;
    height: auto; /* Genişliğe uyumlu olarak ayarlayın */
    margin-bottom: 10px;
    border-radius: 600px;

}
.login-button{
    width: 98%;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    background-color:#6683be;
    font-size: 18px;
    font-family: "Gill Sans", sans-serif;

}
.login-container-button{
    display: flex;
  justify-content: space-between;
}
.login-showp{
  font-family: "Gill Sans", sans-serif;
 margin-bottom: 5px;
 font-weight: 600;
}
.test-container{
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid black;
  padding: 20px;
 box-sizing: border-box;
 background-color: #ffff;
 max-width: 600px;
 max-height: 300px;
margin-top: 17%;
background: linear-gradient(to right, #353836, #ADD8E6);


}
.test-question{
  font-family: 'Gill Sans';
  font-weight: 600;
}
.test-buttons{
  display: flex;
  flex-direction: row; 
  width: 300px;
  height: auto; 
  margin-top: 20px;
}
.test-single-button{
  width: 80%;
  padding: 10px;
  margin-left: 10px;/* buton boşlukları */
  margin-right: 10px;
 
}
.test-result{
  font-weight: 800;
}
.test-next{
  width: 70%;
  padding: 10px;
  margin-left: 10px;/* buton boşlukları */
  margin-right: 10px;
  border-radius: 10px;
  border-radius: 10px;
  border: 2px solid gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #353836, #ADD8E6);

}
.test-prev{
  width: 70%;
  padding: 10px;
  margin-left: 10px;/* buton boşlukları */
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #353836, #ADD8E6);
}
.product-card-container { 
   display: inline-flex;
   text-align: center;
   padding-right: 2%;
   padding-left: 2%;
}

.product-card {
  border: 2px solid black;
  border-radius: 10%;
  margin-top: 10%;
  background-color:#ADD8E6;
  
}
.product-cardp {
  padding-left: 9%;
  padding-top: 5%;
  background-color: #6683be;
  margin-right: 10%;
  margin-left: 10%;
}


.product-card-img {
 max-width: 250px;
 max-height: 250px;
 border: 2px solid skyblue;
  border-radius: 10%;
}

.product-card-name {
 
 
}
.product-list-welcome{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  padding-top: 20%;
}

